* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
}
.loader {
    margin-top: 500px;
}
.loader  span {
    font-size: 60px;
    text-transform: uppercase;
    color: aqua;
    font-weight: bold;
    animation: animate 5s ease-in-out infinite;
}
@keyframes animate {
    10%{color: yellow}
    20%{color: green}
    30%{color: pink}
    40%{color: blue}
    50%{color: orange}
    60%{color: darkred}
    70%{color: yellowgreen}
    80%{color: orangered}
    90%{color: aqua}
    100%{color: lightgray}
}
.loader span:nth-child(1) {
    animation-delay: 0.8s;
}.loader span:nth-child(2) {
    animation-delay: 1s;
}
.loader span:nth-child(3) {
    animation-delay: 1.2s;
}
.loader span:nth-child(4) {
    animation-delay: 1.4s;
}
.loader span:nth-child(5) {
    animation-delay: 1.6s;
}
.loader span:nth-child(6) {
    animation-delay: 1.8s;
}
.loader span:nth-child(7) {
    animation-delay: 2s;
}
.loader span:nth-child(8) {
    animation-delay: 2.2s;
}
.loader span:nth-child(9) {
    animation-delay: 2.4s;
}
.loader span:nth-child(10) {
    animation-delay: 2.6s;
}
